<div class="login box">

  <div class="login text">
    <h2>Login to your account</h2>
  </div>

  <div class="login-content">

    <div class="login-form">
      {{!-- START OF FORM --}}

      <form action="/auth/login" method="POST" id="form-container">
        <div>
          <label for="username">Username</label>
          <br>
          <input id="username" class="form-control" type="text" name="username" placeholder="Your username">
          <br><br>
          <label for="password">Password</label>
          <br>
          <input id="password" class="form-control" type="password" name="password" placeholder="Your password">
        </div>

        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br>

        <button class="btn btn-light btn-primary" aria-pressed="true">Login</button>

        <p class="account-message">
          Don't have an account yet?
          <a href="/auth/signup">Signup</a>
        </p>
      </form>
      {{!-- END OF FORM --}}

    </div>

  </div>

</div>