{{#if user}}
<h1> {{user.username}}'s Dashboards </h1>


<div class="cards-container">
   {{!-- on appelle le contenu du partial dashboardPartial --}}
   <div class="col-sm-3 dashboard-card">
      <div class="card card-inverse card-primary text-center">
         <div class="card-block">
            <a href="/auth/dashboard/dashboardDescription" class="btn btn-primary">Add a new dashboard</a>
         </div>
      </div>
   </div>

   {{!-- on appelle le contenu du partial dashboardPartial --}}
   {{#each dashboards}}
   {{> dashboardPartial}}
   {{/each}}
</div>


{{!-- GOOGLE ANALYTICS AUTHENTIFICATION CHECK --}}
<script>
   (function (w, d, s, g, js, fs) {
      g = w.gapi || (w.gapi = {});
      g.analytics = {
         q: [],
         ready: function (f) {
            this.q.push(f);
         }
      };
      js = d.createElement(s);
      fs = d.getElementsByTagName(s)[0];
      js.src = "https://apis.google.com/js/platform.js";
      fs.parentNode.insertBefore(js, fs);
      js.onload = function () {
         g.load("analytics");
      };
   })(window, document, "script");
</script>

<script>
   gapi.analytics.ready(function () {
      /**
       * Authorize the user immediately if the user has already granted access.
       * If no access has been created, render an authorize button inside the
       * element with the ID "embed-api-auth-container".
       */
      gapi.analytics.auth.authorize({
         container: "embed-api-auth-container",
         clientid:
            "315451096739-f5q6rp31jm5db9f4ec5fflq7g793db0m.apps.googleusercontent.com"
      });
   });
</script>
{{!-- END OF GOOGLE ANALYTICS AUTHENTIFICATION CHECK --}}


{{else}}
<h1> Déso, tu n'as pas accès à cette page </h1>
{{/if}}