<div class="content">
  <div class="section-1">
    <div class="home-logo">
    </div>
    <div class="signup-home">
    </div>

  </div>

  {{!-- __________________ FEATURES SECTION _________________ --}}
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
      </div>

      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
          <img class="feature-image" alt="image" class="fdb-icon" src="/images/number1_PNG14886.png">
          <h3><strong>Feature 1</strong></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img class="feature-image" alt="image" class="fdb-icon" src="/images/MRT_Singapore_Destination_2.png">
          <h3><strong>Feature 2</strong></h3>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large ocean.</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img class="feature-image" alt="image" class="fdb-icon" src="/images/MRT_Singapore_Destination_3.png">
          <h3><strong>Feature 3</strong></h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
        </div>
      </div>
    </div>
  </section>

  {{!-- ____________FOOTER_______________ --}}

  <footer class="fdb-block footer-small bg-dark">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="container">

          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a class="btn" href="https://www.froala.com">Home</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="https://www.froala.com">Features</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="https://www.froala.com">Privacy Policy</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="https://www.froala.com">Terms</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="https://www.froala.com">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


</div>
</div>
</div>