{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="content">
  <div class="section-1">
    <div class="home-logo">
    </div>
    <div class="signup-home">
    </div>

  </div>

  <div class="section-2">
    <div class="argument">

    </div>
    <div class="argument">

    </div>
    <div class="argument">

    </div>
  </div>
</div>