<div class="content">
  <div class="section-1">
    <div class="home-header">
      <h1> Display all your company's data in one place.</h1>
      </br>
      <p> Unlock the power of your data and make smarter data-driven decisions </p>
      </br>
      <div class="dashboards-button home-btn"> <a href="/auth/login" class="btn dashboard-button">Start Today</a></div>
    </div>
    <div class="signup-home">
    </div>

  </div>

  {{!-- __________________ FEATURES SECTION _________________ --}}
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
        </br>
      </div>

      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
          <img class="feature-image" alt="image" class="fdb-icon"
            src='https://img.icons8.com/dusk/64/000000/disconnected.png'>
          <h3><strong>Connect to datasources</strong></h3>
          <p>Easily bring your data from Google Analytics, mailchimp and many othen data sources.</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img class="feature-image" alt="image" class="fdb-icon"
            src="https://img.icons8.com/dusk/64/000000/combo-chart.png">
          <h3><strong>Create dashboards</strong></h3>
          <p>Display easy-to-understand dashboards — no code or queries required.</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img class="feature-image" alt="image" class="fdb-icon"
            src="https://img.icons8.com/dusk/64/000000/brainstorm-skill.png">
          <h3><strong>Make smart decisions</strong></h3>
          <p>Arm people with the knowledge of your data so they can focus on what matters.</p>
        </div>
      </div>
    </div>
  </section>


</div>
</div>
</div>