<div class="content">
  <div class="section-1">
    <div class="home-logo">
      {{!-- <div class="value-proposition">
        <h1> TEST </h1>
        <p></p> --}}
      </div>
    </div>
    <div class="signup-home">
    </div>

  </div>

  {{!-- __________________ FEATURES SECTION _________________ --}}
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
        </br>
      </div>

      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
          <img class="feature-image" alt="image" class="fdb-icon" src='https://img.icons8.com/dusk/64/000000/disconnected.png'>
          <h3><strong>Connect to datasources</strong></h3>
          <p>Easily connect your data from Google Analytics, mailchimp and many othen data sources.</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img class="feature-image" alt="image" class="fdb-icon" src="https://img.icons8.com/dusk/64/000000/combo-chart.png">
          <h3><strong>Create dashboards</strong></h3>
          <p>Display easy-to-understand dashboards — no code or queries required.</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img class="feature-image" alt="image" class="fdb-icon" src="https://img.icons8.com/dusk/64/000000/brainstorm-skill.png">
          <h3><strong>Make smart decisions</strong></h3>
          <p>Arm people with the knowledge of your data so they can focus more on what matters.</p>
        </div>
      </div>
    </div>
  </section>




</div>
</div>
</div>