<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Stories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132814939-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-132814939-1');
  </script>

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-logo">
          <img src="https://img.icons8.com/color/50/000000/flash-on.png">
          <a class="navbar-brand" href="/auth/profile"> <b>Data Stories</b></a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
          <li><a href="/auth/profile" class="btn  btn-login">My Dashboards</a></li>
          <li><a href="/auth/logout" class="btn btn-default btn-login">Logout</a></li>
          {{else}}
          <li><a href="/auth/signup">Sign Up</a></li>
          <li><a href="/auth/login" class="btn btn-default btn-login">Login</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {{{ body }}}


  {{!-- ____________FOOTER_______________ --}}
{{!-- 
  <footer class="fdb-block footer-small bg-dark">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="container">

          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a class="btn" href="#">Home</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="#">Features</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="#">Privacy Policy</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="#">Terms</a>
            </li>

            <li class="list-inline-item">
              <a class="btn" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer> --}}

  <!-- SCRIPTS  -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="./public/javascripts/script.js"></script>
  <script src="./app.js"></script>

</body>

</html>