body {
  font-size: 14px;
  font-family: Circular, Helvetica, Arial, sans-serif;
  background-color: #f5f7fa;
}

.home-header {
  height: 470px;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.80)
  ),
  url("/images/home.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  padding-right: 8%;
}

.home-header h1 {
  color: white;
  font-size: 40px;
  padding-top: 150px;
  display: block;
  margin-left: 8%;
  text-align: center;
}  

.home-header p {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 2px;
  display: block;
  margin-left: 9%;

  text-align: center;
}

.home-btn a {
 font-size: 18px;
 padding: 5px 15px 5px 15px;
 margin-left: 50%;
}

.value-proposition {
  color: white;
  margin-top: 0px;
}

.fdb-block {
  padding-bottom: 100px;
}

// footer {
//   margin-top: 50px;
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   color: white;
//   text-align: center;
// }

.navbar{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border: none;
  height: 9%;
  background-color: white;
}

.navbar {
margin-bottom: 0;
}

.navbar-nav {
  list-style: none;
}

// Header's buttons
.navbar-right {
  padding-right: 20px;
  padding-top: 5px;
}

.nav-logo {
  margin-top: 8px;
}

// Header's text
.navbar-brand b{
  color: black;
  font-size: 20px;
}
.navbar-brand {
  padding-top: 15px;
}

.btn-login {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10%;
}

a {
  color: #00b7ff;
}

footer a {
color:green;
}

// ____ SIGN UP & Login _______ /

.box {
  background-color: #ffffff;
  height: 550px;
  width: 60%;
  margin: auto;
  margin-top: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 25px 30px;
}

.text {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-right: 35px;
}

// .login-image {
//   width: 40%;
//   padding-right: 5%;
//   margin: auto;
// }

// .signup-image {
//   width: 40%;
//   padding-right: 5%;
//   margin: auto;
// }


.pic {
  width: 100%;
}

// Make elements disappear on small screens
@media screen and (max-width: 600px) {
  .pic {
    display: none;
  }
  .text p {
    display: none;
  }
  // .login-image {
  //   margin-right: 0%;
  // }
  // .signup-image {
  //   margin-right: 0%;
  // }
}

.login-content {
  display: flex;
  width: 100%;
  margin-top: 10%;
}

.signup-content {
  display: flex;
  width: 100%;
  margin-top: 10%;
}

.login-form {
  margin-left:0px;
  margin: auto;
  width: 50%;
}

.signup-form {
  margin-left:0px;
  margin: auto;
  width: 50%;
}

.feature-image {
  width: 15%
}

.pick-datasources {
  padding-top: 10%;
  padding-left: 10%;
text-align: left;
}

.ga-logo {
  height: 120px;
}

.mc-logo {
  height: 120px;
  margin-top: 10px;
}

.datasource{
  float: left;
  clear: none;
  width: 50%;
  padding: 20px;
}

.datasources-connect{
  background: #e7e7e7;
  text-align: center;
  width: 600px;  
}

.select-datasources-form {
  display: inline-block
}

.validate-step2 {
  margin-top: 10%;
  margin-left: 20%;
}

.card-img-top {
  width: 100%;
}

.dashboard-card{
  margin: 5px 20px 30px 10px;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.39);
}

.card-block{
  padding: 10px;
  text-align: center;
}

.open-dshbrd-btn{
  background-color: #FF4E78;
  color: white;
  margin-bottom: 10px;
}

.dashboards-header div{
  display: inline-block;
	width: 300px;
	min-height: 50px;
  height: auto;
  margin-bottom: 30px;
}


.dashboard-button {
  padding-bottom: 10px;
  background-color: #FF4E78;
  color: white;
}

// .col-sm-2 .dashboard-card {
//   width: 20%
// }

.a-btn-slide-text strong {
  color: #04b8ff;
}

.a-btn-slide-text span {
  color: #04b8ff;
}

.page-layout {
  width: 90%;
  margin: 0 auto;
}

// mise en page ga-metrics 
ul {list-style:none}
ul.twoxtwo li {display:inline-block; width:45%}
.d-none {display:none}

.edit-view-delete {
  border-top: 1px solid #E7EAED;
}

.evd{
  display: inline-block;
} 