<div class="col-sm-3 dashboard-card">
  <div class="card card-inverse card-primary text-center">
    <img class="card-img-top" src="https://cdn.dribbble.com/users/255717/screenshots/4443727/analytics_icons.png"
      alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{this.name}}</h4>
      <p class="card-text">{{this.description}}</p>
      <a href="/dashboard/ga-metrics/{{this.id}}" class="btn open-dshbrd-btn">Open the
        dashboard</a>
    </div>
  </div>
</div>